<h3>Create new product in {{ category() | titlecase }}</h3>
<form #f="ngForm" (ngSubmit)="createProduct()">
  <div>
    <label for="name">
      <span>Title: </span>
      <input name="title" id="title" [ngModel]="title()"
        (ngModelChange)="title.set($event)" required minlength="3"
        #titleCtrl="ngModel"  
      />
    </label>
    @if (titleCtrl.errors?.['required'] && titleCtrl.dirty) {
      <div class="form-errors">
        Title is a required field
      </div>
    } @else if (titleCtrl.errors?.['minlength'] && titleCtrl.dirty) {
      <div class="form-errors">
        Minimum length of title is 3
      </div>
    } 
  </div>
  <div>
    <label for="description">
      <span>Description: </span>
      <textarea name="description" id="description" rows="8" cols="50"[ngModel]="description()" (ngModelChange)="description.set($event)" required #descriptionCtrl="ngModel" >
      </textarea>
    </label>
    @if (descriptionCtrl.errors?.['required'] && descriptionCtrl.dirty) {
      <div class="form-errors">
        Description is a required field
      </div>
    }
  </div>
  <div>
    <label for="price">
      <span>Price: </span>
      <input name="price" id="price" type="number" min="0.1"
      [ngModel]="price()" (ngModelChange)="price.set($event)"
      required #priceCtrl="ngModel" />
    </label>
    @if (priceCtrl.errors?.['min'] && priceCtrl.dirty) {
      <div class="form-errors">
        Price must be at least 0.1
      </div>
    } @else if (priceCtrl.errors?.['required'] && priceCtrl.dirty) {
      <div class="form-errors">
        Price is a required field
      </div>
    }
  </div>
  <pre>
    {{ this.viewModel() | json }}
  </pre>
  <button type="submit" [disabled]="form.invalid || mutation.isPending()">Submit</button>

  @if (mutation.isPending()) {
    <p>Adding new product</p>
  } @else if (mutation.isError()) {
    <p>{{ mutation.error().message }}</p>
  } @else if (mutation.isSuccess()) {
    <p>New product created</p>
  }
</form>