<h3>Create new product in {{ vm.category | titlecase }}</h3>
<form (ngSubmit)="createProduct()" (formValueChange)="formValue.set($event)" 
  (invalidChange)="formInvalid.set($event)" [shouldMarkAsUntouched]="shouldMarkAsUntouched()"
  [formValue]="formValue()" [suite]="suite()">
  <div app-control-wrapper>
    <label for="name">
      <span>Title: </span>
      <input name="title" id="title" [ngModel]="vm.formValue.title" required minlength="3"
        #titleCtrl="ngModel" [disabled]="vm.isControlDisabled" />
    </label>
  </div>
  <div app-control-wrapper>
    <label for="description">
      <span>Description: </span>
      <textarea name="description" id="description" rows="5" cols="50"[ngModel]="vm.formValue.description" 
        required #descriptionCtrl="ngModel" [disabled]="vm.isControlDisabled">
      </textarea>
    </label>
  </div>
  <div app-control-wrapper>
    <label for="price">
      <span>Price: </span>
      <input name="price" id="price" type="number" min="1" [ngModel]="vm.formValue.price"
      required #priceCtrl="ngModel" [disabled]="vm.isControlDisabled" />
    </label>
  </div>
  <button type="submit">Submit</button>

  @if (mutation.isPending()) {
    <p>Adding new product</p>
  } @else if (mutation.isError()) {
    <p>{{ mutation.error().message }}</p>
  } @else if (mutation.isSuccess()) {
    <p>New product created</p>
  }
</form>